<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="api" data-name="SelfAsserted" role="main">
      <!-- <div>
        <h1></h1>
      </div>
      <div>
        <button>Cancel</button>
      </div>
      <div>
        <p></p>
      </div>
      <form>
        <div>
          <ul>
            <li>
              <div>
                <label></label>
                <div></div>
                <div>
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <div></div>
                  </div>
                  <ul>
                    <li>
                      <div>
                        <input type="email" />
                        <span>*</span>
                        <a>What is this?</a>
                      </div>
                    </li>
                    <li>
                      <div>
                        <input type="text" />
                        <span>*</span>
                        <a>What is this?</a>
                      </div>
                    </li>
                  </ul>
                  <div></div>
                  <div class="buttons">
                    <button type="button">Send verification code</button>
                    <button type="button">Verify code</button>
                    <button type="button">Send new code</button>
                    <button type="button">Change e-mail</button>
                  </div>
                </div>
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="password" />
                <span>*</span>
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="password" />
                <span>*</span>
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="text" />
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="text" />
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="text" />
                <a>What is this?</a>
              </div>
            </li>
            <li>
              <div>
                <input type="text" />
                <a>What is this?</a>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <button type="submit" disabled>Create</button>
        </div>
        <div></div>
      </form> -->

      <div id="api">
        <div>
          <button id="cancel">Cancel</button>
        </div>
        <div>
          <p>Please provide the following details.</p>
        </div>
        <form id="attributeVerification">
          <div id="passwordEntryMismatch">
            The password entry fields do not match. Please enter the same
            password in both fields and try again.
          </div>
          <div id="requiredFieldMissing">
            A required field is missing. Please fill out all required fields and
            try again.
          </div>
          <div id="fieldIncorrect">
            One or more fields are filled out incorrectly. Please check your
            entries and try again.
          </div>
          <div id="claimVerificationServerError"></div>
          <div id="attributeList">
            <ul>
              <li>
                <div>
                  <label id="emailVerificationControl_label"></label>
                  <div></div>
                  <div id="emailVerificationControl">
                    <div>
                      <div id="emailVerificationControl_info_message">
                        Verification is necessary. Please click Send button.
                      </div>
                    </div>
                    <div>
                      <div id="emailVerificationControl_success_message"></div>
                    </div>
                    <div>
                      <div id="emailVerificationControl_error_message"></div>
                    </div>
                    <ul>
                      <li>
                        <div>
                          <div></div>
                          <input id="email" /><a>What is this?</a>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div></div>
                          <input id="emailVerificationCode" /><a
                            >What is this?</a
                          >
                        </div>
                      </li>
                    </ul>
                    <div></div>
                    <div>
                      <button id="emailVerificationControl_but_send_code">
                        Send verification code</button
                      ><button id="emailVerificationControl_but_verify_code">
                        Verify code</button
                      ><button id="emailVerificationControl_but_send_new_code">
                        Send new code</button
                      ><button id="emailVerificationControl_but_change_claims">
                        Change e-mail
                      </button>
                    </div>
                  </div>
                  <a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="newPassword" /><a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="reenterPassword" /><a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="givenName" /><a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="surname" /><a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="displayName" /><a>What is this?</a>
                </div>
              </li>
              <li>
                <div>
                  <div></div>
                  <input id="extension_ProfilePicture" /><a>What is this?</a>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <button id="continue">Create</button>
          </div>

          <div>
            <div id="verifying_blurb"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
